.modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }

.modal-sheet .modal-footer {
    padding-bottom: 2rem;
}

.modal-title-center {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .modal-dialog {
        margin: 0 30px;
    }
}